/* player.js Volume Slider */
input[type="range" i].volume
{
     position: absolute;
     width: 74px !important;
     height: 8px;
     left: -51px;
     top: 40px;
     cursor: pointer;
     -webkit-appearance: none;
     -webkit-transform: rotate(270deg);
     overflow: hidden; /* needed for boxshadow hack */
}

input[type="range"].volume:focus
{
     border: 0 !imporant;
     outline: none !important;
}

input[type="range"].volume::-webkit-slider-thumb
{
     -webkit-appearance: none;
     overflow: visible;
     width: 20px;
     height: 12px;
     background-color: #fff;
     border: 1px solid #bebebe;
     box-shadow: -100px 0 0 100px #f6f6f6;
}

/* waveform.js elements */
input[type=checkbox].waveform{
     height: 0;
     width: 0;
     visibility: hidden;
}

/* housing */
label.waveform {
     pointer-events: none;
     cursor: pointer;
     text-indent: -9999px;
     top: -15px;
     left: 25%;
     width: 50%;
     height: 15px;
     background: grey;
     display: block;
     border-radius: 100px;
     position: relative;
}

/* ball */
label.waveform:after {
     content: '';
     position: absolute;
     top: 3px;
     left: 3px;
     width: 10px;
     height: 10px;
     background: #fff;
     border-radius: 90px;
     transition: 0.3s;
}

input:checked + label.waveform {
     background: #619aa9;
}

input:checked + label.waveform:after {
     left: calc(100% - 3px);
     transform: translateX(-100%);
}

label.waveform:active:after {
     width: 20px;
}

/* waveform.js style */
canvas.waveform {
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    cursor: "pointer";
    display: "none";
}

div.controls {
     position: relative;
     float: left;
}

div .prev, .next {
     display: inline-block;
     padding-left: 5px;
     padding-top: 5px;
}

div .bpm {
    padding-top: .3em;
}

#bes_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

#bes_dialog {
     outline: 0px;
     z-index: 1002;
     position: absolute;
     height: auto;
     width: 500px;
     top: 50%;
     left: 50%;
     transform: translateX(-50%) translateY(-50%);
}

#bes_user_price {
    display: inline-block;
    font-size: 20px;
    margin: 0 5px 0 0;
    padding: 8px 5px 8px 25px;
    width: 75px;
    transition: box-shadow ease-in-out 0.2s;
}

.buy-dlg #bes_download_buttons button {
    width: 100%;
}

.buy-dlg #bes_download_buttons .ft > * {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}

.ieLte7 .buy-dlg #bes_download_buttons .ft > * {
    display: inline;
}

/*one clickc buy*/
.currency-input-wrapper {
    position: relative;
    display: inline;
}

.currency-input-wrapper::before, .currency-input-wrapper::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
}

.currency-input-wrapper::before {
    content: attr(data-prefix);
    left: 5px;
}

.currency-input-wrapper::after {
    content: attr(data-suffix);
    right: 5px;
}

input.currency-input {
    border: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 1px 30px 0 17px;
    -moz-appearance: textfield; /* Remove spinner for Firefox */
}

input.currency-input:focus-visible {
    outline: none;
}

/* Remove spinner for webkit browsers */
input.currency-input::-webkit-inner-spin-button,
input.currency-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.one-click-button {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    padding: 0 0 4px;
    margin-right: 0;
    border: none;
    font-size: 20px;
    cursor: pointer;
    line-height: 50%;
}

.one-click-button:hover {
    background-color: #0056b3;
    text-decoration: none;
    color: #fff;
}

.one-click-button:active {
    background-color: #004085;
    color: #fff;
}

.one-click-button-container {
    opacity: 0;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    margin: -2px 0;
    border-radius: 2px;
    display: flex;
    align-items: stretch;
    overflow: hidden;
    transition: opacity 0.2s ease;
}

.track_row_view:hover .one-click-button-container {
    opacity: 1;
}
