/* player.js Volume Slider */
input[type="range" i].volume
{
     position: absolute;
     width: 74px !important;
     height: 8px;
     left: -51px;
     top: 40px;
     cursor: pointer;
     -webkit-appearance: none;
     -webkit-transform: rotate(270deg);
     overflow: hidden; /* needed for boxshadow hack */
}

input[type="range"].volume:focus
{
     border: 0 !imporant;
     outline: none !important;
}

input[type="range"].volume::-webkit-slider-thumb
{
     -webkit-appearance: none;
     overflow: visible;
     width: 20px;
     height: 12px;
     background-color: #fff;
     border: 1px solid #bebebe;
     box-shadow: -100px 0 0 100px #f6f6f6;
}

/* waveform.js elements */
input[type=checkbox].waveform{
     height: 0;
     width: 0;
     visibility: hidden;
}

/* housing */
label.waveform {
     pointer-events: none;
     cursor: pointer;
     text-indent: -9999px;
     top: -15px;
     left: 25%;
     width: 50%;
     height: 15px;
     background: grey;
     display: block;
     border-radius: 100px;
     position: relative;
}

/* ball */
label.waveform:after {
     content: '';
     position: absolute;
     top: 3px;
     left: 3px;
     width: 10px;
     height: 10px;
     background: #fff;
     border-radius: 90px;
     transition: 0.3s;
}

input:checked + label.waveform {
     background: #619aa9;
}

input:checked + label.waveform:after {
     left: calc(100% - 3px);
     transform: translateX(-100%);
}

label.waveform:active:after {
     width: 20px;
}

/* waveform.js style */
canvas.waveform {
    width: 100%;
    height: 30px;
    padding-bottom: 5px;
    cursor: "pointer";
    display: "none";
}

div.controls {
     position: relative;
     float: left;
}

div .prev, .next {
     display: inline-block;
     padding-left: 5px;
     padding-top: 5px;
}
